RewriteEngine on


# url rewriting
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# redirect /f1 to f1.[current domain] if not already on f1 subdomain
RewriteCond %{HTTP_HOST} !^f1\. [NC]
RewriteRule ^f1/?(.*)$ https://f1.%{HTTP_HOST}/$1 [L,R=301]

# redirect /studios to studios.[current domain] if not already on studios subdomain
RewriteCond %{HTTP_HOST} !^studios\. [NC]
RewriteRule ^studios/?(.*)$ https://studios.%{HTTP_HOST}/$1 [L,R=301]


# git
RewriteCond %{REQUEST_URI} ^/git/(.+)$
RewriteCond %1 !\.git$ [NC]
RewriteRule ^git/(.+)$ https://github.com/starstalker9160/%1.git [R=302,L]

RewriteRule ^git/(.+\.git)$ https://github.com/starstalker9160/$1 [R=302,L]


# 404 Error
ErrorDocument 404 /404.html