html { background-color: #fff5f8; user-select: none; }

body {
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5f8;
}

.err {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11vw;
    color: #1a1a1a;
}

#icon{
    font-size: 9vw;
    color: #E63462;
    padding-left: 1.9vw;
}

.txt {
    text-align: center;
    padding-top: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
}

.homeTxt {
    color: #E63462;
    font-weight: bold;
    text-decoration: underline;
}

.circle {
    box-sizing: border-box;
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid #1a1a1a;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 1000000;
}

@media (max-width: 1000px) {
    .circle { display: none; }
}
