html { background-color: #fff5f8; scroll-behavior: smooth; height: 100vh; }

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

span {
    color: #E63462;
    font-weight: bold;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    color: #1a1a1a;
    text-decoration: none;
}

.logo:hover {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    user-select: none;
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff5f8;
}

nav {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5f8;
}

.nav {
    text-decoration: none;
    color: #1a1a1a;
}

.path {
    user-select: none;
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 0px;
}

.desc {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    text-align: center;
    color: #474747;
}

.symbols {
    user-select: none;
    color: #474747;
}

#custom-tooltip {
    position: absolute;
    background-color: #ffe9f0;
    color: #1a1a1a;
    border: 3px solid #1a1a1a;
    padding: 4px 8px;
    pointer-events: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: none;
}

.circle {
    box-sizing: border-box;
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid #1a1a1a;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 1000000;
}

@media (max-width: 1000px) {
    .circle { display: none; }
}
