html { background-color: #fff5f8; user-select: none; height: 100%;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

span { color: #E63462; }

::selection {
    background-color: #C7EFCF;
    color: 1a1a1a;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5f8;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.main {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11vw;
    color: #1a1a1a;
    border: 3vw solid #fff5f8;
    border-top: none;
}

.sidebar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff5f8;
}

@media (max-width: 1000px) {
    .main {
        font-size: 25vw;
        background: linear-gradient(to bottom, #E63462 50%, #ffe9f0 50%);
    }

    span { font-size: 25vw; }

    .sidebar {
        width: 100%;
        right: 50%;
        bottom: 0px;
        transform: translate(50%, 0%);
        gap: 1rem;
        flex-direction: row;
    }
}

@media (min-width: 1001px) {
    .main {
        height: 100%;
        font-size: 11vw;
        background: linear-gradient(to right, #E63462 50%, #ffe9f0 50%);
    }

    span { font-size: 11vw; }
    
    .sidebar {
        height: 100%;
        right: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        width: 3vw;
        flex-direction: column;
    }
}


.socials {
    color: #2c2c2c;
    font-size: 30px;
}
