html { background-color: #fff5f8; user-select: none; height: 100vh; width: 100vw; overflow-y: hidden; }

body {
    margin: 0;
    padding: 0;
    display: grid;
}

hr {
    border: none;
    background-color: #7b7b7b;
    width: 50%;
    height: 0.1%;
}

span {
    color: #e63462;
    font-size: 11vw;
}

::selection {
    background-color: #C7EFCF;
    color: 1a1a1a;
}

.titleBar {
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5f8;
    justify-content: space-between;
}

.nav {
    padding-right: 3vw;
    color: #1a1a1a;
    text-decoration: none;
}

.main {
    display: flex;
    width: 94vw;
    height: 89vh;
    border-left: 3vw solid #fff5f8;
    background: linear-gradient(to right, #e63462 50%, #ffe9f0 50%);
}

.txtContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11vw;
    color: #1a1a1a;
}

.sides {
    display: flex;
}

.sidebar {
    width: 3.01vw;
    background-color: #fff5f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials {
    color: #2c2c2c;
    font-size: 30px;
}
