#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e1d31;
    background-image: url("./Assets/starstalkerstuiods_Splashscreen.png");
    background-size: cover;
    background-position: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.loadingTxt {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    color: #f9f9fc;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

@media (max-width: 1000px) {
    .loadingTxt { font-size: 1rem; }

    #splashScreen {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

#main-content.fade-in {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

main > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;  
}

main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main > article[data-status="active"] { transform: translateX(0%); }

main > article[data-status="before"] { transform: translateX(-100%); }

main > article[data-status="after"] { transform: translateX(100%); }

main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

.article-item {
    height: 100%;
    display: flex;
}

.article-desc, .article-nav { border-left: 1px solid #666666; }

.article-title, .article-nav { border-top: 1px solid #666666; }

main > article:first-child > .article-img { background-image: url(""); }

main > article:nth-child(2) > .article-img { background-image: url(""); }

.article-img {
    background-position: center;
    background-size: cover;
}

.article-desc {
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem; 
}

.article-desc > p {
    color: #1e1d31;
    font-size: 1.25em;
    font-weight: 300;
}

.article-desc > p  > a:hover { text-decoration: underline; }

.article-title {
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 4rem;
}

.article-title:hover {
    cursor: pointer;
    background-color: #0000001a;
    transition: all 0.3s linear;
}

.article-title > .plus { transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1); }

.article-title:hover .plus { transform: rotate(135deg); }

.article-title * { color: #1e1d31; }

.article-title > h2 {
    flex-basis: 50%;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
}

.article-title > i {
    color: rgba(255, 255, 255, 0.75);
    font-size:  4rem;
}

.article-nav-btn {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: #1e1d31;
    font-size: 5rem;
    cursor: pointer;
}

.article-nav-btn:hover {
    background-color: #0000001a;
    transition: all 0.3s linear;
}

.arrow-text { font-family: "Hedvig Letters Serif", serif; }

.article-nav-btn .arrow-text {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.article-nav-btn:first-child:hover .arrow-text { transform: translateX(-1rem); }

.article-nav-btn:last-child:hover .arrow-text { transform: translateX(1rem); }

.article-nav-btn:nth-child(2) { border-left: 1px solid #666666; }

@media(max-width: 1200px) {    
    #nav-mobile { flex-basis: calc(100% * 0.75); }

    #nav-logo { flex-basis: calc(100% * 0.25); }
    
    #nav-link {
        flex-basis: calc(100% / 3);
        gap: 3rem;
    }

    main { overflow-y: auto; }
    
    main > article {
        grid-template-columns: none;
        grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
        height: max(900px, 100%);
    }
    
    .article-title > h2 {
        font-size: 3rem; 
        line-height: 2.6rem;
    }
    
    .article-title > i { font-size: 3rem; }
    
    .article-desc, .article-nav { border-left: none; }

    main > article > .article-img { order: 1; }
    
    .article-title {
        border-bottom: 1px solid #666666;
        order: 2;
    }
    
    .article-desc {
        justify-content: center;
        order: 3;
    }
    
    .article-nav {
        border-bottom: 1px solid #666666;
        order: 4;
    }
}

@media(max-width: 800px) {
    main > article {
        grid-template-rows: 1fr repeat(4, 0.5fr);
        height: max(700px, 100%);
    }

    .article-title { padding: 2rem; }

    .article-title > h2 {
        flex-basis: 70%;
        font-size: 1.75em; 
        line-height: 1.5rem;
    }

    .article-title > i { font-size: 2rem; }

    .article-desc { padding: 2rem; }

    .article-desc > p { font-size: 1rem; }
}
