html { background-color: #fff5f8; margin: 0px; padding: 0px; scroll-behavior: smooth; overflow: hidden; }

body {
    /* box-sizing: border-box; */
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

button {
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2vh;
    position: relative;
    overflow: hidden;
    border: 3px solid #FE5F55;
    background: none;
    padding: 10px 20px;
    user-select: none;
    transition: all 0.2s linear;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FE5F55;
    z-index: -5;
    transition: width 0.3s ease-in-out;
}

button:hover::before {
    width: 100%;
}

button:hover {
    color: #ffffff;
    cursor: pointer;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    user-select: none;
    padding-left: 3vw;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

.path {
    user-select: none;
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 0px;
}

.desc {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    text-align: center;
    color: #474747;
}

.symbols {
    user-select: none;
    color: #474747;
}

.content{
    display: flex;
    justify-content: center;

}

.line {
    display: block;
    background-color: #FE5F55;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .line {
        min-height: 0.2rem;
        min-width: 67%;
    }
}

@media (min-width: 1001px) {
    .content { flex-direction: row; }
    
    .line {
        width: 0.2%;
    }
}


.container { padding: 2vw 5vw 2vw 5vw; }

.containerTitle {
    color: #E63462;
    font-weight: bold;
    font-size: 3vh;
}

.containerDesc {
    color: #1a1a1a;
    font-size: 1.75vh;
}