html { background-color: #fff5f8; scroll-behavior: smooth; }

@font-face {
    font-family: 'NerdFont';
    src: url('/Assets/JetBrainsMonoNerdFontMono-Regular.woff2') format('woff2'),
         url('/Assets/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

br { user-select: none; }

a {
    color: #1a1a1a;
    text-decoration: underline;
    text-decoration-color: #E63462;
    text-underline-offset: auto;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #E63462;
    text-decoration: underline;
    text-underline-offset: 0.3vh;
}

b {
    color: #E63462;
    font-weight: bold;
}

li {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

span {
    padding: 0px;
    margin: 0px;
    color: #474747;
    font-size: 18px;
    font-style: italic;
}

hr {
    height: 3px;
    border: none;
    background-color: #474747;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #E63462;
    font-size: 45px;
    margin: 0px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #f36864;
    font-size: 28px;
    margin: 0px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #1b9aaa;
    font-size: 25px;
    margin: 0px;
    padding-left: 10px;
}

p {
    color: #1a1a1a;
    padding-left: 2vw;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    word-spacing: 1px;
    line-height: 27px;
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 50rem;
    transition: all 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #474747;
}

::-webkit-scrollbar-track {
    background-color: #00000028;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    color: #1a1a1a;
    text-decoration: none;
}

.logo:hover {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    user-select: none;
    z-index: 9999;
    padding-left: 3vw;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff5f8;
    display: block;
}


table {
    width: 100%;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50%;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 8px;
}

td:first-child { border-left: none; }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

pre {
    background-color: #d3d3d3;
    overflow-x: auto;
}

code { font-family: "IBM Plex Mono", monospace; }


@media (max-width: 1000px) {
    table, tr, td {
        display: block;
        width: 100%;
        border-left: none;
        border-top: none;
    }

    tr { margin-bottom: 2vh; }

    td {
        border: 1px solid black;
        padding: 8px;
    }

    table tr:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
    }

    table tr:nth-child(odd) {
        display: flex;
        flex-direction: column;
    }

    img { margin-bottom: 1vh; }
}