html { background-color: #fff5f8; scroll-behavior: smooth; }

body {
    padding: 0px;
    margin: 0px;
}

span {
    color: #e63462;
    font-weight: bold;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #E63462;
    font-size: 3vw;
    margin: 0px;
}

p {
    color: #1a1a1a;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    word-spacing: 1px;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.container {
    padding: 0px 20vw;
}

.titleBar {
    display: flex;
    user-select: none;
    flex-direction: row;
    padding-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #fff5f8;
}
