html { background-color: #fff5f8; scroll-behavior: smooth; height: 100vh; }

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

span {
    color: #e63462;
    font-weight: bold;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    color: #1a1a1a;
    text-decoration: none;
}

.logo:hover {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    display: flex;
    user-select: none;
    flex-direction: row;
    padding-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff5f8;
}

.path {
    user-select: none;
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 0px;
}

.desc {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    text-align: center;
    color: #474747;
}

.symbols {
    user-select: none;
    color: #474747;
}

#fa {
    color: #2c2c2c;
    font-size: 2.6vh;
}

.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 20%;
    height: 100%;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: all 0.15s ease-in-out;
}

.card:hover {
    box-shadow: 12px 12px 12px #0000003b, -10px -10px 10px white;
}

.cardContent {
    flex-basis: 14vmin;
    display: flex;
    flex-direction: row;
    background-color: #ffe9f0;
    border: 3px solid #e63462;
}

.languages {
    flex-grow: 1;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #d3d3d3;
    border-right: 3px solid #474747;
    border-left: 3px solid #474747;
    border-bottom: 3px solid #474747;
}

.cardTitle {
    flex-basis: calc(100% * (0.20));
    padding: 0px 1vw;
    display: flex;
    align-items: center;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 2.5vh;
    background-color: #e63462;
}

.cardDesc {
    flex-basis: calc(100% * (0.67));
    padding-left: 1vw;
    display: flex;
    font-size: 1.75vh;
    line-height: 3vh;
    align-items: center;
    border-right: 3px solid #e63462;
    text-overflow: ellipsis;
}

.cardNav {
    flex-basis: calc(100% * (0.13));
    display: flex;
    flex-direction: column;
    font-size: large;
}

.article {
    flex-basis: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #e63462;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.parenthesis {
    font-size: 2vh;
}