html { background-color: #fff5f8; scroll-behavior: smooth; overflow-x: hidden; }

@font-face {
    font-family: 'NerdFont';
    src: url('/Assets/JetBrainsMonoNerdFontMono-Regular.woff2') format('woff2'),
         url('/Assets/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

br { user-select: none; }

a {
    color: #1a1a1a;
    text-decoration: underline;
    text-decoration-color: #E63462;
    text-underline-offset: auto;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #E63462;
    text-decoration: underline;
    text-underline-offset: 0.3vh;
}

b {
    color: #E63462;
    font-weight: bold;
}

li {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

pre {
    box-sizing: border-box;
    width: max-content;
    margin-left: 5%;
    padding: 0px 2%;
    background-color: #d3d3d3;
    border: 3px solid #474747;
    border-radius: 0.5rem;
}

code {
    font-family: 'NerdFont', monospace;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga" 1, "calt" 1;
}

span {
    padding: 0px;
    margin: 0px;
    font-family: "NerdFont", monospace;
    color: #474747;
    font-size: 18px;
    font-style: italic;
}

hr {
    height: 3px;
    border: none;
    background-color: #474747;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #E63462;
    font-size: 45px;
    margin: 0px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #f36864;
    font-size: 28px;
    margin: 0px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #1b9aaa;
    font-size: 25px;
    margin: 0px;
    padding-left: 10px;
}

p {
    color: #1a1a1a;
    padding-left: 2vw;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    word-spacing: 1px;
    line-height: 3vh;
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 50rem;
    transition: all 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #474747;
}

::-webkit-scrollbar-track {
    background-color: #00000028;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    color: #1a1a1a;
    text-decoration: none;
}

.logo:hover {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    user-select: none;
    z-index: 9999;
    padding-left: 3vw;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff5f8;
    display: block;
}

#progress-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 5px;
    background-color: #4caf50;
    z-index: 9998;
    transition: width 0.25s ease-out;
    pointer-events: none;
}

.container {
    padding: 0px 15vw;
}

.topStuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.shelfButt {
    color: #1a1a1a;
    text-decoration: none;
}

.code {
    font-family: "NerdFont", monospace;
    font-weight: 400;
    font-style: normal;
    color: #1a1a1a;
    background-color: #d3d3d3;
}

#custom-tooltip {
    position: absolute;
    background-color: #ffe9f0;
    color: #1a1a1a;
    border: 3px solid #1a1a1a;
    padding: 4px 8px;
    pointer-events: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: none;
}

.circle {
    box-sizing: border-box;
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 3px solid #1a1a1a;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 1000000;
}

@media (max-width: 1000px) {
    .circle { display: none; }
}
