body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    min-height: 100vh;
    margin: 0;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 30px;
}

a {
    color: #E63462;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #11101A;
    line-height: 10px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #11101A;
}

hr {
    height: 4px;
    width: 100%;
    border: none;
    background-color: #FE5F55;
}

p {
    max-width: 90%;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 30px;
}

.logo {
    position: absolute;
    top: 90px;
    left: 90px;
    z-index: 9999;
}

.logo > img {
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.sidebar {
    width: 15%;
    background-color: #FBFBFF;
}

.mainContent {
    flex: 1;
    padding: 2%;
    background-color: white;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}
