html { background-color: #fff5f8; }

body {
    margin: 0;
    padding: 0%;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    min-height: 100vh;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 30px;
}

a {
    color: #E63462;
}

i {
    color: #7b7b7b;
    font-size: 18px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #E63462;
    font-size: 55px;
    padding-top: 8px;
    margin: 0px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #474747;
}

hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: #474747;
}

p {
    word-wrap: break-word;
    font-size: 20px;
    line-height: 30px;
    color: #7b7b7b;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    position: absolute;
    top: 9vh;
    left: 9vh;
    z-index: 9999;
}

.logo > img {
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.content {
    padding: 0px 25%;
    padding-top: 10%;
    width: 100%;
}

.topStuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #7b7b7b;
}

.date {
    padding-left: 0px;
}