html { background-color: #fff5f8; scroll-behavior: smooth; height: 100vh; width: 100vw; overflow-x: hidden;}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    color: #1a1a1a;
    text-decoration: none;
}

.titleBar {
    display: flex;
    user-select: none;
    flex-direction: row;
    padding-left: 3vw;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.path {
    user-select: none;
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 0px;
}

.desc {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    text-align: center;
    color: #2c2c2c;
}

.symbols {
    user-select: none;
    color: #2c2c2c;
}

.content {
    margin: 3% 22%;
}

.card {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.card:hover {
    cursor: pointer;
	background-color: #fffbfc;
    border-radius: 10px;
}

.cardContent {
	padding: 0px 20px;
	margin: 0px 0px;
	width: 100%;
}

.cardInfo {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #7b7b7d;
}

.cardInfo > span {
    user-select: auto;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.date {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #7b7b7d;
    text-wrap: none;
}

.cardTitle {
    padding: 0px 0px;
    margin: 0px 0px;
    height: 35%;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #474747;
}

.cardDesc {
    padding-top: 3px;
	margin: 0px 0px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #7b7b7d;
}
