html { background-color: #fff5f8; }

h1 {
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #474747;
    font-size: 32px;
    text-align: center;
    margin-top: 9%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    color: #7b7b7d;
}

span{
    user-select: none;
    color: #7b7b7d;
}

br {
    user-select: none;
}

::selection {
    background-color: #C7EFCF;
    color: black;
}

.logo {
    position: absolute;
    top: 9vh;
    left: 9vh;
    z-index: 9999;
}

.logo > img {
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border-right: none;
}

.content {
    margin: 3% 22%;
}

.card {
    overflow: hidden;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.card:hover {
    cursor: pointer;
	background-color: #fffbfc;
    border-radius: 10px;
}

.cardContent {
	padding: 0px 20px;
	margin: 0px 0px;
	width: 100%;
}

.cardInfo {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #7b7b7d;
}

.cardInfo > span {
    user-select: auto;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.date {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #7b7b7d;
    text-wrap: none;
}

.cardTitle {
    padding: 0px 0px;
    margin: 0px 0px;
    height: 35%;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #474747;
}

.cardDesc {
    padding-top: 3px;
	margin: 0px 0px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #7b7b7d;
}
