.symbols {
    user-select: none;
    color: #474747;
}

.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: all 0.15s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 12px 12px 12px #0000003b, -10px -10px 10px white;
}

.cardContent { border: 3px solid #E63462; }

.cardTitle {
    box-sizing: border-box;
    flex-basis: calc(100% / 3);
    padding-left: 1vw;
    display: flex;
    align-items: center;
    color: #2c2c2c;
    font-weight: bold;
    font-size: 2.5vh;
    background-color: #E63462;
    border-bottom: 3px solid #E63462;
}

.cardDesc {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.5vh 1.5vw;
    font-size: 1.75vh;
    line-height: 3vh;
    background-color: #ffe9f0;
}

.cardInfo {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0px 1vw;
    font-size: 1.5vh;
    background-color: #d3d3d3;
    border-right: 3px solid #474747;
    border-left: 3px solid #474747;
    border-bottom: 3px solid #474747;
}

.language {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: black;
}

@media (max-width: 1000px) {
    .carrousel {
        margin: 1% 10%;
        gap: 2rem;
    }

}

@media (min-width: 1001px) {
    .carrousel {
        margin: 1% 20%;
        height: 100%;
    }
}
